<h1>Will Barrett</h1>
<h3>Web Programmer</h3>

<h2>Recent Projects:</h2>
<p>
<a href="http://dashscribe.com" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'dashscribe')">DashScribe</a>,
<a href="http://venturemena.com" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'venturemena')">VentureMena</a>,<br />
<a href="http://transformutraining.org" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'transformu')">Transform U Training</a>,
<a href="http://signalkit.com/" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'signalkit')">SignalKit</a>
</p>

<h2>Writing:</h2>
<p>
<a href="http://blog.tallgreentree.com" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'tech blog')">Professional Blog</a>,
<a href="http://stackoverflow.com/users/179249/tallgreentree"
  onClick="recordOutboundLink(this, 'Outbound Links', 'stackoverflow')">Stack Overflow</a>
</p>

<h2>Open Source:</h2>
<p>
<a href="https://github.com/tallgreentree"  target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'github')">GitHub</a>,
<a href="http://rubygems.org/gems/omniauth-37signals" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'omniauth-37signals')">omniauth-37signals</a>
</p>

<h2>Follow Me:</h2>
<p>
<a href="http://twitter.com/tallgreentree" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'twitter')">Twitter</a>,
<a href="http://tallgreentree.tumblr.com" target="_blank"
  onClick="recordOutboundLink(this, 'Outbound Links', 'tumblr')">Tumblr</a>
</p>

<h2>Get In Touch</h2>
<p><a href="mailto:william.barrett@tallgreentree.com"  target="_blank"
  onclick="recordOutboundLink(this, 'Outbound Links', 'william.barrett@tallgreentree.com')">william.barrett@tallgreentree.com</a>
</p>
