<h1>Will Barrett</h1>
<h3><a href="http://en.wikipedia.org/wiki/Web_application">Web Application Developer</a></h3>


<h2>Presence:</h2>
<p>
<a href="http://github.com/tallgreentree">github</a>,
<a href="http://stackoverflow.com/users/179249/tallgreentree">stackoverflow</a>,
<a href="http://twitter.com/tallgreentree">twitter</a>,
<a href="http://tallgreentree.tumblr.com">tumblr</a>,
<a href="http://linkedin.com/in/tallgreentree">Linkedin</a>,
<a href="http://facebook.com/tallgreentree">facebook</a>
</p>


<h2>Projects:</h2>
<p><a href="http://signalkit.com/">SignalKit</a></p>


<h2>Contact:</h2>
<p>
<a href="mailto:william.barrett@tallgreentree.com">william.barrett@tallgreentree.com</a>
</p>
