<h1>Will Barrett</h1>
<h3>Web Programmer</h3>


<h2>Presence:</h2>
<p>
<a href="http://blog.tallgreentree.com"
  onClick="recordOutboundLink(this, 'Outbound Links', 'tech blog')">professional blog</a>,
<a href="https://github.com/tallgreentree" 
  onClick="recordOutboundLink(this, 'Outbound Links', 'github')">github</a>,
<a href="http://stackoverflow.com/users/179249/tallgreentree"
  onClick="recordOutboundLink(this, 'Outbound Links', 'stackoverflow')">stackoverflow</a>,
<a href="http://twitter.com/tallgreentree"
  onClick="recordOutboundLink(this, 'Outbound Links', 'twitter')">twitter</a>,
<a href="http://tallgreentree.tumblr.com"
  onClick="recordOutboundLink(this, 'Outbound Links', 'tumblr')">tumblr</a>,
<a href="http://linkedin.com/in/tallgreentree"
  onClick="recordOutboundLink(this, 'Outbound Links', 'linkedin')">Linkedin</a>
</p>


<h2>Recent Projects:</h2>
<p><a href="http://signalkit.com/"
  onClick="recordOutboundLink(this, 'Outbound Links', 'signalkit')">SignalKit</a></p>

<h2>Open Source:</h2>
<p><a href="http://rubygems.org/gems/omniauth-37signals"
  onClick="recordOutboundLink(this, 'Outbound Links', 'omniauth-37signals')">omniauth-37signals</a></p>

<h2>Contact:</h2>
<p>
<a href="mailto:william.barrett@tallgreentree.com"
  onClick="recordOutboundLink(this, 'Outbound Links', 'william.barrett@tallgreentree.com')">william.barrett@tallgreentree.com</a>
</p>
