<h1>Will Barrett</h1>
  <h3>Web Developer<br />Chicago, IL USA</h3>


<h2>Follow me:</h2>
<p><a href="http://linkedin.com/in/tallgreentree">linkedin</a>, <a href="http://github.com/tallgreentree">github</a>, <a href="http://twitter.com/tallgreentree">twitter</a>, <a href="http://tallgreentree.tumblr.com">tumblr</a>, <a href="http://facebook.com/tallgreentree">facebook</a>, <a href="http://stackoverflow.com/users/179249/tallgreentree">stackoverflow</a></p>


<h2>Projects:</h2>

  <ul>
    
    <li><a href="http://signalkit.com/">SignalKit</a>: a suite of tools enhancing the 37signals Project Management suite.</li>
    
    <li><a href="http://venturemena.com/">VentureMENA</a>: a web application connecting entrepreneurs and investors in the Middle East and North Africa.</li>
    
    <li><a href="http://byliner.com/">Byliner</a>: a web app that will find you something good to read.</li>
    
  </ul>


<h2>Past:</h2>

  <ul>
    
    <li>Web Programming: 4 years</li>

    <li>Startups: Partner &mdash; SignalKit, President &mdash; Tall Green Tree Inc.</li>

    <li>Education: B.Mus. Peabody Conservatory, Violoncello Performance, Baltimore, MD</li>

    <li>Home Town: Bangor, ME</li>

  </ul>

<p class="noindent">
  <b>Leave me a Message:</b> <a href="mailto:william.barrett@tallgreentree.com">william.barrett@tallgreentree.com</a>
</p>