<h1>Learn to Program through JavaScript</h1>
<h3>Basic Course Info</h3>
<p>Course meets Tuesdays and Thursday nights from 7-8:30, Feb. 28-April 5</p>
<p>Course will meet in the conference room at <a href="http://www.colabevanston.com">coLab Evanston</a> - 900 N Chicago Ave. Suite 104</p>
<p>Code samples, problem files, and solutions for each of the classes can be found on <a href="http://github.com/tallgreentree/javascript-class">github</a>.</p>
<p>Go ahead and email me with questions at <a href="mailto:william.barrett@tallgreentree.com">william.barrett@tallgreentree.com</a></p>
<br />


<h3><a name="class-1"></a>Class 1: History, Basic Programming Structures, and Simple Math</h3> 
<p><a href="https://docs.google.com/present/view?id=d529qv8_0cq7xnmgm">Slides in Google Docs</a></p>

<h5>Homework</h5>
<ol>
        <li>Write a program that writes "Hello Document" to the document, "Hello Console" to the console, and triggers an alert box containing the text "Oh dear, it's an Alert!"</li>
        <li>Write a program that calculates the length of the hypotenuse of a right triangle with one leg that is 24in long and one leg that is 45in long.</li>
        <li>Using the documentation, figure out how to compute the value of 2<sup>13</sup>.<br />Just multiplying 2 * 2 * 2... 13 times is not allowed. There's a function for this.</li>
        <li>Write a program that generates a random integer between 0 and 100.</li>
</ol>

<h5>Links from class</h5>
<ul>
        <li><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String">Mozilla String object reference</a></li>
        <li><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Math">Mozilla Math object reference</a></li>
        <li><a href="https://developer.mozilla.org/en/JavaScript">Mozilla's JavaScript documentation</a></li>
        <li><a href="http://www.w3schools.com/js/default.asp">W3School's JavaScript documentation</a></li>
        <li><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf">ECMAScript Standard 262 (pdf)</a></li>
        <li><a href="http://stackoverflow.com">http://stackoverflow.com - world's best Q+A site</a></li>
        <li><a href="http://yuiblog.com/crockford/">Crockford on JavaScript screencasts</a></li>
        <li><a href="http://eloquentjavascript.net/">Eloquent Javascript free online book</a></li>
        <li><a href="http://www.amazon.com/JavaScript-Good-Parts-ebook/dp/B0026OR2ZY/ref=kinw_dp_ke?ie=UTF8&m=AG56TWVU5XWC2">JavaScript: The Good Parts on Amazon</a></li>
</ul>


<br />
<h3><a name="class-2"></a>Class 2: Arrays, Comparisons, and Control Structures</h3>
<p><a href="https://docs.google.com/present/view?id=d529qv8_2gc6cvbdk">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Write a program that writes every letter in the alphabet to the page, together with its position in the English alphabet. Each letter should be on its own line.</li>
        <li>Write a program that writes a random quote to the page from an array of 10.</li>
        <li>Hacker Task: Write a program that calculates the first 20 prime numbers and writes them to the document.</li>
</ol>
<br />

<h3><a name="class-3"></a>Class 3: Functions and Events</h3>
<p><a href="https://docs.google.com/present/view?id=d529qv8_38vgncrw6">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Write a stopwatch program, accurate to 1/10th of a second. The program should have start, stop, and reset buttons</li>
        <li>Hacker version: Add lap/split functionality.</li>
</ol>
<br />

<h3><a name="class-4"></a>Class 4: Objects and the DOM</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1EQd9iTxRvoVtBipk52H7vIvx2wKf5EyXg66WR-p9e64">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Create a simple todo list in JavaScript (no saving necessary). Write it in an OOP style.</li>
</ol>
<br />

<h3><a name="class-5"></a>Class 5: Forms and Work Session</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1x7c0UbAHmtvKV6jG-fe0iaHAouxYr4cvqBlBkOOv9xo">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Continue work on todo-list manager</li>
</ol>
<br />

<h3><a name="class-6"></a>Class 6: Animation and jQuery</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1OA3K69CrhAJo-2RZG2W7R0Y_vDh9SVzr0CzR5MbNiEk">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Complete this tutorial: <a href="http://docs.jquery.com/Tutorials:How_jQuery_Works">http://docs.jquery.com/Tutorials:How_jQuery_Works</a></li>
        <li>Add fade-in and fade-out animations to the todo list application.</li>
</ol>
<br />

<h3><a name="class-7"></a>Class 7: AJAX</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1FlI2-M_BcUYgkLBogjyEPGExilBQtPEc6BrefYgbQ88">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Add loading of todo items from the provided XML document on GitHub.</li>
</ol>
<br />

<h3><a name="class-8"></a>Class 8: Getting Away from WAT and Underscore.js</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1tJ01Til7CE3H1i_bE-29cJ2t8Df1QLuJl_sbmKmtzYY&start=false&loop=false&delayms=3000">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Read through the Underscore.js documentation: <a href="http://documentcloud.github.com/underscore/">http://documentcloud.github.com/underscore/</a></li>
        <li>Read this AListApart article on JavaScript MVC: <a href="http://www.alistapart.com/articles/javascript-mvc/">http://www.alistapart.com/articles/javascript-mvc/</a></li>
</ol>
<br />

<h3><a name="class-9"></a>Class 9: Introduction to Bootstrap.js</h3>
<p><a href="https://docs.google.com/presentation/pub?id=1CrwSGeM6qtV5dg6oN3bBvzA0rApcmtD7k714NQ5185U">Slides in Google Docs</a></p>
<h5>Homework</h5>
<ol>
        <li>Read through these tutorials on Backbone.js: <a href="http://backbonetutorials.com/">http://backbonetutorials.com/</a></li>
        <li>Read through this example code: <a href="http://documentcloud.github.com/backbone/examples/todos/index.html">http://documentcloud.github.com/backbone/examples/todos/index.html</a></li>
        <li>Add code to validate that the user isn't trying to create an empty todo item. Hint: this code already exists in the example code above.</li>
</ol>
<br />

