<h1>Learn to Program through JavaScript</h1>
<h3>Basic Course Info</h3>
<p>Course meets Tuesdays and Thursday nights from 7-8:30, Feb. 28-April 5</p>
<p>Course will meet in the conference room at <a href="http://www.colabevanston.com">coLab Evanston</a> - 900 N Chicago Ave. Suite 104</p>
<p>Code samples for each of the classes can be found on <a href="http://github.com/tallgreentree/javascript-class">github</a>.</p>
<p>Go ahead and email me with questions at <a href="mailto:william.barrett@tallgreentree.com">william.barrett@tallgreentree.com</a></p>
<br />
<h3>Class 1: History, Basic Programming Structures, and Simple Math</h3> 
<p><a href="https://docs.google.com/present/view?id=d529qv8_0cq7xnmgm">Slides in Google Docs</a></p>
<h5>Homework</h5>
<p>1) Write a program that writes "Hello Document" to the document, "Hello Console" to the console, and triggers an alert box containing the text "Oh dear, it's an Alert!"</p>
<p>2) Write a program that calculates the length of the hypotenuse of a right triangle with one leg that is 24in long and one leg that is 45in long.</p>

