body
  font-family: Helvetica, Arial, sans-serif
  
  #content
    width: 440px
    margin-left: 520px
    margin-top: 100px
    h1
      font-size: 24px
      line-height: 30px
      -webkit-margin-after: 0
    h2
      font-size: 18px
      line-height: 20px
      -webkit-margin-after: 0
      margin-bottom: 4px
    h3
      font-size: 16px
      line-height: 20px
      margin-left: 40px
      text-indent: -20px
      -webkit-margin-before: 0
    p, li
      font-size: 14px
      line-height: 18px
    p
      -webkit-margin-before: 0
      text-indent: 20px
    li
      list-style: none
      margin-bottom: 4px
      text-indent: -20px
    ul
      margin-top: 0
      padding-left: 40px
    .noindent
      text-indent: 0