body
  font-family: Helvetica, Arial, sans-serif
  background-image: url('/bg.jpg')
  background-repeat: repeat-x
  background-position: left top
  background-color: black
  .container
    background-image: url('/will.jpg')
    background-repeat: no-repeat
    background-position: left top
    position: absolute
    width: 100%
    min-height: 768px
    top: 0
    left: 0
  #content
    width: 50%
    width: 320px
    margin-left: 180px
    margin-top: 40px
    padding: 50px
    background-color: rgba(0, 0, 0, 0.6)
    color: #CCC
    h1
      font-size: 30px
      line-height: 36px
      -webkit-margin-after: 0
    h2
      font-size: 20px
      line-height: 20px
      -webkit-margin-after: 0
      margin-bottom: 4px
    h3
      font-size: 20px
      line-height: 20px
      margin-left: 40px
      text-indent: -20px
      -webkit-margin-before: 0
    p, li
      font-size: 16px
      line-height: 20px
    p
      -webkit-margin-before: 0
      margin-left: 20px
    li
      list-style: none
      margin-bottom: 4px
      text-indent: -20px
    ul
      margin-top: 0
      padding-left: 40px
    .noindent
      margin-left: 0
    a
      color: white
